# Dependencies
node_modules/
/.pnp
.pnp.js

# Production builds
dist/
dist-ssr/
*.local

# Editor configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Environmental variables
.env
.env.production
.env.development
